.node {
    & :focus {
        background-color: lightblue;
    }

    & .isComplete {
        list-style-type: '🗹  ';
        & > .content {
            text-decoration: line-through;
        }
        opacity: 0.5;
        .node {
            opacity: 1;
        }
    }
}

.content {
    display: inline-block;
    outline: 0px solid transparent;
    min-width: 1px;
}

ul.children {
    border-left: 1px solid grey;
    margin-left: calc(-1em + 1px);
    padding-left: 2.5em;
    list-style-type: '☐  ';
    li {

    }
}